@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141319 !important;
  color: white !important;
  font-family: "Kanit", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  transition: ease-in-out;
}

.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
}
.LinkTagDefault {
  text-decoration: none !important;
  color: white;
}
.LinkTagDefault :hover {
  color: white;
}
.homeWrapper {
  display: flex;
  flex-wrap: wrap;
}
.sideBarAndPages {
  display: flex;
}
.mainPage {
  margin-left: 10rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.loaderWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 900px) {
  .displayInMobile {
    display: none;
  }

  .mainPage {
    margin-left: 0rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
